@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Medieval MMO Management site</h1>
    <p>This is for Sprint 5 of the .Net Development Fundamentals course.</p>
</div>